.novo-button{
  margin-top: 35px;
  margin-bottom: 4px;
  border: none;
  border-radius: 4px;
  background-color: #FDB813;
  padding: 0px 25px 0px 25px;
  font-weight: 500;
    &.novo-button:hover{
      background-color: #1c455d;
      color: #FFFF;
      transition: .2s;
    }
  }
