<div class="modal-header">
  <h4 class="modal-title">Atualizar livro</h4>
</div>
<form [formGroup]="putBookForm" (submit)="putAccordingRole()">
  <div class="modal-body">
    <label>Titulo do Livro</label>
    <input formControlName="nome" type="text" class="form-control">
    <label>Descrição</label>
    <input formControlName="descricao" type="text" class="form-control">
    <label>Nome do Autor</label>
    <input formControlName="autor" type="text" class="form-control">
  </div>
  <div class="modal-footer">
    <button type="submit" class="novo-button p-2" >Atualizar</button>
  </div>
</form>
