<div class="container">
  <div class="header">
    <span class="header-text"> <span class="borda"> Meus </span>Livros</span >
    <button (click)="openVerticallyCentered(content)" class="novo-button">+ Novo
    </button>
    <!-- <button (click)="novoComunicado()" class="novo-button">+ Novo
    </button> -->
  </div>

  <div class="main">
    <div class="inputs-div">
      <input (input)="search($event)"  type="text" class="form-control" type="text" placeholder="Buscar por...">
    </div>
  </div>
  <div >

    <ng-template #noBooks>
      <div class="text-center mt-4">
        <small >
          <em>Nã há livros cadastrados para este usuário.</em>
        </small>
      </div>
    </ng-template>

    <table class="table" *ngIf="bookLength >= 1 else noBooks">
      <thead>
        <tr>
          <th scope="col" style="padding-left: 140px;">Titulo</th>
          <th scope="col">Descrição</th>
          <th scope="col">Autor</th>
          <th scope="col">Data de Cadastro</th>
          <th scope="col">Ação</th>
           <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of userBook$ |async">
          <th>{{item.nome}}</th>
          <th>{{item.descricao}}</th>
          <th>{{item.autor}}</th>
          <th>{{item.data_cadastro}}</th>
          <th>
            <div ngbDropdown container="body">
              <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
              <div ngbDropdownMenu>
                <button (click)="atualizarLivro(item)" ngbDropdownItem>Editar</button>
                <button (click)="excluirLivro(item._id)" ngbDropdownItem>Excluir</button>
              </div>
            </div>
          </th>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<!-- Add livro modal -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Cadastrar livro</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
  <form [formGroup]="addBookForm" (submit)="addBook()">
    <div class="modal-body">
      <label>Titulo do Livro</label>
      <input formControlName="nome" type="text" class="form-control">
      <label>Descrição</label>
      <input formControlName="descricao" type="text" class="form-control">
      <label>Nome do Autor</label>
      <input formControlName="autor" type="text" class="form-control">
    </div>
    <div class="modal-footer">
      <button type="submit" class="novo-button p-2" >Cadastrar</button>
    </div>
  </form>
</ng-template>
<!--  -->
